{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}
    {{
        parent() ~
        ' - ' ~
        'support_contacts_management' | trans({}, 'support')
    }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'formalibre_support_management_tool'|trans({}, 'tools'),
                'href': path('formalibre_admin_support_index')
            },
            {
                'name': 'configuration'|trans({}, 'platform'),
                'href': path('formalibre_admin_support_configuration_menu')
            },
            {
                'name': 'support_contacts_management'|trans({}, 'support'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'support_contacts_management'|trans({}, 'support') }}
        </h3>
    </div>
    <div class="panel-body" id="contacts-management-body">

        {% if contacts|length > 0 %}
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>{{ 'name'|trans({}, 'platform') }}</th>
                        <th>{{ 'mail'|trans({}, 'platform') }}</th>
                        <th></th>
                    </tr>

                    {% for contact in contacts %}
                        <tr id="support-contact-row-{{ contact.getId() }}">
                            <td>
                                {{ contact.getFirstName() }}
                                {{ contact.getLastName() }}
                            </td>
                            <td>
                                {{ contact.getMail() }}
                            </td>
                            <td>
                                <span class="btn btn-danger remove-support-contact-btn"
                                      data-user-id="{{ contact.getId() }}"
                                >
                                    <i class="fa fa-times-circle"></i>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div class="alert alert-warning">
                {{ 'no_support_contact'|trans({}, 'support') }}
            </div>
        {% endif %}

        <span class="btn btn-primary" id="add-support-contact-btn">
            {{ 'add_support_contacts'|trans({}, 'support') }}
        </span>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'support' }) }}"></script>
    <script type="text/javascript">
        window.contacts = [{% for contact in contacts %}{{ contact.getId() }}{% if not loop.last %}, {% endif %}{% endfor %}];
    </script>
    <script> load({{ chunks('claroline-distribution-plugin-support-admin-support-contacts-management')|raw }}) </script>
{% endblock %}
