{% extends 'ClarolineCoreBundle:Desktop:layout.html.twig' %}

{% block title %}
    {{ parent() ~ ' - ' ~ "home" | trans({}, "platform") | striptags | raw }}
{% endblock %}

{% block section_content %}
    <div id="desktop-home-panel">
        <div class="panel-body" data-ui-view="">
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets debug=false filter='less, cssmin' output='css/clarolinecore/hometabs.css'
        "@ClarolineCoreBundle/Resources/less/home-tabs.less"
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.tabId = {{ tabId }}
    </script>
    <script>
        load({{ chunks('claroline-distribution-main-core-desktop-home')|raw }},  function() {
            angular.bootstrap('#desktop-home-panel', ['DesktopHomeModule']);
        })
    </script>
{% endblock %}
