{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% else %}
    {% set workspace = image.getResourceNode().getWorkspace() %}
{% endif %}

{% extends layout %}

{% block title %}{{ image.getResourceNode().getName() ~ ' - ' ~ parent() | striptags | raw }}{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title"> {{ image.getResourceNode().getName() }} </h3>
    </div>
    <div class="panel-body">
        <div id="image-player" class="carousel slide" style="width:100%">
            <div class="carousel-inner">
                {% for img in images %}
                    <div align="center" class="item{% if img.getResourceNode().getId() ==  _resource.getResourceNode().getId() %} active{% endif %}" data-name="{{ img.getResourceNode().getName() }}"  data-id="{{ img.getResourceNode().getId() }}">
                        <img src="{{ path ("claro_image", {"node": img.getResourceNode.getId()}) }}">
                    </div>
                {% endfor %}
            </div>
            {% if images | length > 1 %}
                <a class="left carousel-control" href="#image-player" data-slide="prev">
                    <i class="icon-prev"></i>
                </a>
                <a class="right carousel-control" href="#image-player" data-slide="next">
                    <i class="icon-next"></i>
                </a>
            {% endif %}

            <div class="float-right-top">
                <a class="btn btn-default close pointer-hand" onClick="javascript:enterFullscreen(this.parentNode.parentNode)"><i class="fa fa-expand"></i></a>
            </div>
        </div>
    </div>
    {% if canExport %}
        <div class="panel-footer">
            <a class="btn btn-primary" href="{{ path('claro_resource_download') }}?ids[]={{ _resource.getResourceNode().getId() }}">
                <i class="fa fa-download"></i> {{ 'download'|trans({}, 'platform') }}
            </a>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts_header %}
    {{ parent() }}
    <script>

    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/clarolineimageplayer/css/images.css') }}'/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script> load({{ chunks('claroline-distribution-plugin-image-player-image')|raw }}) </script>
{% endblock %}
