
{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'users' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block section_content %}
    <div>{{ macros.flashBox() }}</div>
    <div id="users-panel" class="panel panel-default">
        <div class="panel panel-body" ui-view>
        </div>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/angular-ui.css')}}"> </link>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        load({{ chunks('claroline-distribution-main-core-user-management')|raw }}, function() {
            angular.bootstrap('#users-panel', ['UsersManager']);
        })
    </script>
{% endblock %}
