<div id="announcement-widget-{{ widgetInstance.getId() }}">
    <div id="announcements-list-{{ widgetInstance.getId() }}">
        {{
            render(controller(
                'ClarolineAnnouncementBundle:Announcement:announcementsWidgetPager',
                {'widgetInstance': widgetInstance.getId()}
            ))
        }}
    </div>
</div>

{% block javascripts %}
    <script>
        window.widgetInstanceId = {{ widgetInstance.getId() }};
    </script>
    <script> load({{ chunks('claroline-distribution-plugin-announcement-announcement-widget')|raw }}) </script>
{% endblock %}
