{% extends 'ZenstruckFormBundle:Twitter:form_bootstrap3_layout.html.twig' %}

{% block custom_widget_attributes %}
    {% spaceless %}
        name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
        {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
    {% endspaceless %}
{% endblock custom_widget_attributes %}


{% block datetimepicker_row %}
    <div class="{% if errors|length > 0 %}has-error{% endif %}">
        {% spaceless %}
            {{ form_errors(form,{}) }}
            {{ form_label(form,{}) }}
            {{ form_widget(form,{})  }}
        {% endspaceless %}
    </div>
{% endblock %}



{% block datetimepicker_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' clarolineDateTimePicker')|trim}) %}
    <div class="form-inline">
        {% if component %}
            <div class="input-group  date col-md-4">
                {{ form_widget(form.date, {'id' : id ~ '_date','attr':{'class':'input-small','placeholder': 'date_form_placeholder'|trans({},'platform')},}) }}
                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
            </div>
            <div class="input-group   col-md-offset-1 col-sm-3 ">
                {{ form_widget(form.time, {'id' : id ~ '_time','attr':{'class':'input-small','placeholder':'--:--','pattern':'[0-9]{2}:[0-9]{2}'} } ) }}
                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
            </div>
        {% else %}
            {{ form_widget(form.date, {'id' : id ~ '_date','attr':{'class':'input-small','placeholder': 'date_form_placeholder'|trans({},'platform')},}) }}
            {{ form_widget(form.time, {'id' : id ~ '_time','attr':{'class':'input-small','placeholder':'--:--','pattern':'[0-9]{2}:[0-9]{2}'} } ) }}
        {%  endif %}
    </div>

    <script type="text/javascript">
        window.options = {{ options|json_encode()|raw }}
    </script>
    <script> load({{ chunks('claroline-distribution-main-core-form-date-time-picker')|raw }}) </script>
{% endblock %}
