{% extends 'ClarolineCoreBundle::form_theme.html.twig' %}

{% block simpleautocomplete_widget %}
    {% spaceless %}
        {% block simpleautocomplete_assets %}
            {% if with_vendors %}
            <link rel='stylesheet' type='text/css' href='{{ asset('bundles/clarolinecore/css/common/jquery-ui-bootstrap/jquery-ui-1.9.2.custom.css') }}'/>
            {% endif %}
        {% endblock %}
        <div class="input-group input-group-sm">
            {{ block('form_widget') }}
        </div>
        <script type="text/javascript">
            window.formId = "{{ form.vars['id'] }}"
            window.format = "{{ format }}"
            window.entityReference = "{{ entity_reference }}"
            window.extraDatas = {{ extraDatas|json_encode()|raw }}
            window.path = '{{ path('exporter_api', {'entityReference': entity_reference, '_format': format}) }}'
        </script>
        <script> load({{ chunks('claroline-distribution-main-core-form-simple-auto-complete')|raw }}) </script>
    {% endspaceless %}
{% endblock %}
