{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block title %}{{ 'socialmedia_wall'|trans({}, 'resource') ~ ' - ' ~ user.getLastName() ~ ' ' ~ user.getFirstName() | striptags | raw }}{% endblock %}

{% block content %}
    {{ macros.flashBox() }}
    <div class="panel panel-default panel-user">
        <div class="panel-heading relative">
            <h3 class="panel-title">
                {{ 'socialmedia_wall'|trans({}, 'resource') }}
            </h3>
        </div>
        <div class="panel-body">
            <div class="social-media-wall-list">
                {% if pager.nbResults > 0 %}
                <div class="jscroll-wall-list list-group">
                    {% include "IcapSocialmediaBundle:Wall:itemList.html.twig" with {'pager':pager, 'userId':userId} %}
                </div>
                {% else %}
                <div>{{ "no_wall_item"|trans({}, 'icap_socialmedia') }}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/icapsocialmedia/css/wall.css')}}'>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.wallDeleteUrl = "{{ path("icap_socialmedia_wall_item_delete", {"id":"000"}) }}";
    </script>
    <script> load({{ chunks('claroline-distribution-plugin-social-media-wall')|raw }}) </script>
{% endblock %}
