{% extends "ClarolineCursusBundle:CursusRegistration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'claroline_cursus_tool_registration' | trans({}, 'tools') | striptags | raw }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'claroline_cursus_tool_registration'|trans({}, 'tools'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div id="cursus-registration-panel">
        <div class="panel panel-default" ui-view>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts debug=false
    'js/translations/cursus/*.js'
    'js/translations/tools/*.js'
    %}<script src="{{ asset_url }}"></script>
{% endjavascripts %}
    <script>
        load({{ chunks('claroline-distribution-plugin-cursus-registration')|raw }}, function() {
            angular.bootstrap('#cursus-registration-panel', ['CursusRegistrationModule']);
        })
    </script>
{% endblock %}
