{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% set title = 'desktop_home_tabs'|trans({}, 'platform') %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'desktop_home_tabs'|trans({}, 'platform') | striptags | raw }}
{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'desktop_and_home'|trans({}, 'platform'),
                'href': path('claro_admin_desktop_configuration_menu')
            },
            {
                'name': title,
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ title }}
        </h3>
    </div>

    <div id="admin-home-content"  class="panel-body">
        <div id="admin-home-tabs-module">
            <div ui-view></div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        debug=false
        filter='less, cssmin'
        output='css/clarolinecore/hometabs.css'
        "@ClarolineCoreBundle/Resources/less/home-tabs.less"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" screen="media"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        load({{ chunks('claroline-distribution-main-core-admin-home-tabs-config')|raw }}, function() {
            angular.bootstrap('#admin-home-tabs-module', ['AdminHomeTabsConfigModule']);
        })
    </script>
{% endblock %}
