<style type="text/css">
    .line-chart {
        height: 150px;
        width: 80%;
        margin: 0 10%;
    }

    .count_by_day_chart_legend {
        text-align: center;
        font-size: 11px;
        color: #777;
    }
</style>
{# ?? #}
{% if not app.request.isXmlHttpRequest() %}
    <script> load({{ chunks('claroline-distribution-main-core-jqplot')|raw }}) </script>
{% endif %}
{% if actionName is not defined or actionName is empty or '-' not in actionName %}
<legend>{{ 'actions_per_day'|trans({}, 'platform') }}</legend>
{% else %}
<legend>{{ ('log_'~actionName~'_filter')|trans({}, 'log') }}</legend>
{% endif %}

<div id="actions-line-chart" class="line-chart"></div>
<br/>
<div class="count_by_day_chart_legend"><i class="fa fa-hand-o-up"></i> <em>{{ 'graph_draw_area'|trans({}, 'platform') }}</em></div>

<script type="text/javascript">
    window.chartData = {{ chartData|json_encode|raw }};
</script>
<script> load({{ chunks('claroline-distribution-main-core-log-count-by-day-chart')|raw }}) </script>
