<style type="text/css">
    .logs-list {
        margin-top: 10px;
    }
    .logs-list .row {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .logs-list .row-odd {
        background-color: #F9F9F9;
    }
    .logs-list > div.row {
        border-top: 1px solid #DDDDDD;
    }
    .logs-list > div.row:first-child {
        border-top: none;
    }
    .log_list_item_head {
        font-size: 13px;
        font-weight: bold;
    }
    .log_list_item {
        font-size: 12px;
    }
    .jqplot-title{display:none;}
    .jqplot-xaxis{margin-top:5px !important;}
</style>
<script> load({{ chunks('claroline-distribution-main-core-jqplot')|raw }}) </script>
{% set newNameOrder = 'ASC' %}
{% set newActionsOrder = 'DESC' %}
{% if orderBy == 'name' %}
    {% set newNameOrder = (order == 'ASC')?'DESC':'ASC' %}
{% elseif orderBy == 'actions' %}
    {% set newActionsOrder = (order == 'ASC')?'DESC':'ASC' %}
{% endif %}
{% set route = app.request.attributes.get('_route') %}
<div class='logs-list'>
    <div class='row'>
        <div class="col-md-3 log_list_item_head">
            <a href="{{ path(route, routeParams|merge({'orderBy':'name', 'order': newNameOrder})) }}">{{'user'|trans({}, 'platform')}} {% if orderBy == 'name' %} <i class="fa fa-sort-{{ order|lower }}"></i> {% endif %}</a>
        </div>
        <div class="col-md-6 log_list_item_head">
            {{'actions_per_day_chart'|trans({}, 'log')}}
        </div>
        <div class="col-md-3 log_list_item_head">
            <a href="{{ path(route, routeParams|merge({'orderBy':'actions', 'order': newActionsOrder})) }}">{{'actions'|trans({}, 'platform')}} {% if orderBy == 'actions' %} <i class="fa fa-sort-{{ order|lower }}"></i> {% endif %}</a>
        </div>
    </div>
    {% for log in logs %}
        <div class='row {% if loop.index is divisibleby(2) %}row-odd{% else %}row-even{% endif %}'>
            <div class="col-md-3 log_list_item">
                {{ log['name'] }}
            </div>
            <div class="col-md-6 log_list_item" style="padding: 0 50px 0 0;">
                <div id="{{ log['id'] }}-user-bar-chart" style="height: 50px;"></div>
                <script>
                    load({{ chunks('claroline-distribution-main-core-log-user-list')|raw }}, function(){
                        window.drawUserBarChart({{ log['stats']|json_encode|raw }}, "{{ log['id'] }}-user-bar-chart", {{ log['maxValue'] }});
                    })
                </script>
            </div>
            <div class="col-md-3 log_list_item">
                {{ log['actions'] }}
            </div>
        </div>

    {% endfor %}
</div>
