{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'users_management' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block section_content %}
    <div class="panel-body">
        <div>
            {{
                macros.breadcrumbs([
                    {
                        'name': 'users_management'|trans({}, 'platform'),
                        'href': path('claro_admin_users_index')
                    },
                    {
                        'name': 'profile_management'|trans({}, 'platform'),
                        'href': path('claro_admin_facet_index')
                    },
                    {
                        'name': 'facet_management'|trans({}, 'platform'),
                        'href': ''
                    }
                ])
            }}
        </div>
        <facet-management id="facet-manager"></facet-management>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        load({{ chunks('claroline-distribution-main-core-facet-management')|raw }}, function() {
            angular.bootstrap('#facet-manager', ['FacetManager']);
        })
    </script>
{% endblock %}
