<div id="courses-registration-widget-{{ widgetInstance.getId() }}">
    <div id="courses-list-{{ widgetInstance.getId() }}">
        {% if mode == 0 %}
            {{
                render(controller(
                    'ClarolineCursusBundle:Cursus:coursesListForRegistrationWidget',
                    {'widgetInstance': widgetInstance.getId()}
                ))
            }}
        {% elseif mode == 1 %}
            {{
                render(controller(
                    'ClarolineCursusBundle:Cursus:coursesListForRegistrationWidgetCalendar',
                    {'widgetInstance': widgetInstance.getId()}
                ))
            }}
        {% endif %}
    </div>
</div>

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('packages/fullcalendar/dist/fullcalendar.print.css') }}" media="print"/>
{% endblock %}

{% block javascripts %}
    {% javascripts debug=false
        'js/translations/agenda/*.js'
        'js/translations/cursus/*.js'
        'js/translations/platform/*.js'
        %}<script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        window.widgetInstanceId = {{ widgetInstance.getId() }}
        window.disableSessionEventRegistration = {% if disableSessionEventRegistration %}true{% else %}false{% endif %}
        window.mode = {{ mode }}
    </script>
    <script> load({{ chunks('claroline-distribution-plugin-cursus-courses-registration-widget')|raw }}) </script>
{% endblock %}
