{% if user == 'anon.' %}
    <div class="alert alert-warning">
        {{ 'no_course'|trans({}, 'cursus') }}
    </div>
{% else %}
    <div id="my-courses-widget-{{ widgetInstance.getId() }}">
        <div id="courses-list-{{ widgetInstance.getId() }}">
            {% if mode == 0 %}
                {{
                    render(controller(
                        'ClarolineCursusBundle:Cursus:myCoursesListForWidget',
                        {'widgetInstance': widgetInstance.getId()}
                    ))
                }}
            {% elseif mode == 1 %}
                {{
                    render(controller(
                        'ClarolineCursusBundle:Cursus:myCoursesListForWidgetCalendar',
                        {'widgetInstance': widgetInstance.getId()}
                    ))
                }}
            {% elseif mode == 2 %}
                {{
                    render(controller(
                        'ClarolineCursusBundle:Cursus:myCoursesListForWidgetChronologic',
                        {'widgetInstance': widgetInstance.getId()}
                    ))
                }}
            {% endif %}
        </div>
    </div>

    {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('packages/fullcalendar/dist/fullcalendar.print.css') }}" media="print"/>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
        {% javascripts debug=false
            'js/translations/agenda/*.js'
            'js/translations/cursus/*.js'
            'js/translations/platform/*.js'
            %}<script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            window.currentUserId = {{ user.getId() }}
            window.widgetInstanceId = {{ widgetInstance.getId() }}
            window.mode = {{ mode }}
        </script>
        <script> load({{ chunks('claroline-distribution-plugin-cursus-my-courses-widget')|raw }}) </script>
    {% endblock %}
{% endif %}
