{% extends "ClarolineCursusBundle::adminLayout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'claroline_cursus_tool' | trans({}, 'tools') }}
{% endblock %}

{% block section_content %}
    <div id="cursus-management-panel" ng-cloak>
        <div ncy-breadcrumb></div>
        <div class="panel panel-default" ui-view>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/clarolinecursus/css/management.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        load({{ chunks('claroline-distribution-plugin-cursus-management')|raw }}, function() {
            angular.bootstrap('#cursus-management-panel', ['CursusManagementModule']);
        })
    </script>
    {% javascripts debug=false
        'js/translations/agenda/*.js'
        'js/translations/cursus/*.js'
        'js/translations/tools/*.js'
        %}<script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
