{% set layout = 'ClarolineCoreBundle:Workspace:layout.html.twig' %}

{% if isDesktop() %}
    {% set layout = 'ClarolineCoreBundle:Desktop:layout.html.twig' %}
{% endif %}

{% extends layout %}

{% set _resource = chatRoom %}

{% block chat_content %}
    {% block section_panel %}
        <div id="chat-room-app" ng-cloak="">
            <div ui-view></div>
        </div>
    {% endblock %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/clarolinechat/css/chatRoom.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts debug=false 'js/translations/chat/*.js' %}<script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        window.resourceId = {{ chatRoom.getResourceNode().getId() }}
        window.resourceName = '{{ chatRoom.getResourceNode().getName()|raw }}'
        window.chatRoom = {{ chatRoom|json_serialize('api_chat')|raw }}
        window.roomName = '{{ chatRoom.getRoomName() }}'
        window.xmppHost = '{{ xmppHost }}'
        window.xmppSsl = {{ ssl ? 'true' : 'false' }}
        window.xmppMucHost = '{{ xmppMucHost }}'
        window.boshPort = {{ boshPort }}
        window.iceServers = {{ iceServers|raw }}
        window.canChat = {{ canChat ? 'true' : 'false' }}
        window.canEdit = {{ canEdit ? 'true' : 'false' }}
        window.hasAdmin = {{ hasAdmin ? 'true' : 'false' }}
        window.chatAdminUsername = '{{ chatAdminUsername }}'
        window.chatAdminPassword = '{{ chatAdminPassword }}'
        let RTC = null
        let RTCPeerconnection = null
    </script>
    <script>
        load({{ chunks('claroline-distribution-plugin-chat-room')|raw }}, function() {
            angular.bootstrap('#chat-room-app', ['ChatRoomModule']);
        })
    </script>
{% endblock %}
