
{% extends "ClarolineCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'organizations' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block content %}
    <div id="organization-panel" class="panel panel-default">
        <div ncy-breadcrumb></div>
        <div class="panel-body" ui-view></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/angular/angular-ui.css')}}"> </link>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        load({{ chunks('claroline-distribution-main-core-organization-management')|raw }}, function() {
            angular.bootstrap('#organization-panel', ['OrganizationManager']);
        })
    </script>
{% endblock %}
