<div class="modal fade" id="recalculateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'recalculate_modal_title'|trans({}, 'icap_badge') }}</h4>
                <br />
                <div class="alert alert-danger">
                    {{ 'recalculate_modal_waning'|trans({}, 'icap_badge')|raw }}
                </div>
            </div>
            <div class="modal-body">

                <label><input type="checkbox" id="recalculateAlreadyAwarded" /> {{ 'recalculate_modal_option_all_users'|trans({}, 'icap_badge') }}</label>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|trans({}, 'platform') }}</button>
                <a
                    id="recalculateAction"
                    href="{{ path('icap_badge_workspace_tool_badges_recalculate', {'workspaceId': workspace.id, 'slug': badge.slug}) }}"
                    class="btn btn-primary">{{ 'OK'|trans({}, 'platform') }}</a>
            </div>
        </div>
    </div>
</div>
<script> load({{ chunks('claroline-distribution-plugin-badge-admin-recalculate-modal')|raw }}) </script>
